[class^="icon"],
[class*=" icon"] {
    height: 24px;
    width: 24px;
    display: inline-block;
    fill: currentColor;
}

.ticket__icon {
    color: var(--btn-bg);
}

.ticket__traveller-icon {
    grid-row: span 2;
    align-self: center;
}

.ticket__icon-pause {
    display: none;
}