@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}


@keyframes moveRtl1 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveRtl {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveLtr1 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes moveLtr {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}