@import "reset.css";

@import "icons.css";

@import "keyframes.css";

:root {
  --font-family: "Source Code Pro", monospace;
  --icons-font-family: "windmill";
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --body-bg: #EEEEEE;
  --primary-blue: #6D3EF5;
  --btn-bg: #793A9E;
  --btn-gradient: linear-gradient(90deg, #813D9A 0%, #7237A1 100%);
  --section-spacing: 16px 24px;
  --header-height: 128px;
}

body {
  font-family: var(--font-family);
  background-color: var(--body-bg);
}

.ticket__search {
  position: relative;



  @media (min-width: 768px) {
    max-width: 330px;
    margin: 100px auto;
  }
}

.ticket__search-icon {
  position: absolute;
  left: 16px;
  top: 12px;
}

.ticket__search-btn-icon {
  position: relative;
  top: 3px;
}

.ticket__search-input {
  font-weight: var(--fw-bold);
  width: 100%;
  height: 48px;
  padding: 0 64px 0 48px;
  border: 1px solid var(--primary-blue);

  &::-webkit-search-cancel-button {
    display: none;
  }

  &:focus+.ticket__search-btn {
    display: block;
  }

  @media (min-width: 768px) {
    border-radius: 4px;
  }
}


.ticket__search-btn {
  position: absolute;
  right: 16px;
  top: 8px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: var(--btn-gradient);
  border: 0;
  color: white;
  border-radius: 4px;
  font-size: 22px;
  display: none;

  &::before {
    position: relative;
    top: 2px;
  }

  &:hover {
    cursor: pointer;
  }
}


.ticket {
  background-color: white;

  @media (min-width: 768px) {
    max-width: 754px;
    margin-inline: auto;
    margin-bottom: 100px;
    border-radius: 24px;
    overflow: hidden;
  }

  @media (min-width: 1200px) {
    max-width: 1280px;
    min-width: 1024px;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
}

.ticket__header {
  --color-one: #E66465;
  --color-two: #512AB2;
  --bg-size: 400%;
  background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
  animation: move-bg 8s linear reverse infinite;
  min-height: var(--header-height);
  padding: var(--section-spacing);
  display: flex;
  align-items: end;
}

.ticket__title {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  font-weight: var(--fw-black);

  @media (min-width: 768px) {
    font-size: 36px;
  }

  @media (min-width: 1200px) {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  .ticket__title--break {
    display: none;
  }
}

.ticket__train-wrapper {
  overflow: hidden;
  padding-top: 8px;
  border-bottom: 8px solid;
  height: 116px;
}

.ticket__train {
  background: url(../img/train.png) bottom center no-repeat;
  background-size: contain;
  height: 100px;
  width: 1024px;
  animation: 1.5s moveRtl1 0s linear paused, 3s moveRtl 1.5s linear infinite paused;
}

.ticket__checkbox-train {
  &:checked {
    ~.ticket__content .ticket__train {
      animation-play-state: running;
    }

    ~.ticket__sidebar {
      .ticket__sidebar-animation-btn {
        .ticket__icon-play {
          display: none;
        }

        .ticket__icon-pause {
          display: inline-block;
        }
      }

      .ticket__sidebar-animation-text::before {
        content: attr(data-pause);
      }
    }
  }

  &:focus-visible~.ticket__sidebar .ticket__sidebar-animation-btn {
    outline: 2px solid var(--primary-blue);
  }
}


.ticket__body-title {
  font-size: 36px;

  @media (min-width: 768px) {
    font-size: 48px;
    text-align: center;
  }

  @media (min-width: 1200px) {
    font-size: 60px;
  }
}

.ticket__body-header,
.ticket__traveller,
.ticket__traveller-info {
  padding: var(--section-spacing);
}

@media (min-width: 1200px) {
  .ticket__traveller {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ticket__traveller-info {
  display: grid;
  gap: 16px;
}

.ticket__traveller-item {
  display: grid;
  grid-template-columns: 32px 1fr;

  &::before {
    font-size: 24px;
    grid-row: span 2;
    align-self: center;
    color: var(--btn-bg);
  }
}



.ticket__traveller-label {
  color: var(--primary-blue);
  font-size: 10px;
}

.ticket__traveller-desc {
  font-weight: var(--fw-bold);
  grid-column-start: 2;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .ticket__content-traveller-info {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .ticket__content {
    flex-grow: 1;
    max-width: 1024px;
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
  }

}

.ticket__sidebar {
  background-image: linear-gradient(to right, var(--primary-blue) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top left -8px;
  background-size: 30px 1px;
  background-repeat: repeat-x;


  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    width: 256px;
    background-image: linear-gradient(to bottom, black 50%, white 50%);
    background-position: top left;
    background-size: 2px 30px;
    background-repeat: repeat-y;
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
  }
}


.ticket__sidebar-traveller-info,
.ticket__direction-wrapper {
  padding: var(--section-spacing);
  font-weight: var(--fw-bold);
}


.ticket__sidebar-traveller {
  display: none;

  @media (min-width: 1200px) {
    display: grid;
    align-content: end;
    padding: var(--section-spacing);
    height: var(--header-height);
    background-color: #512AB2;
    color: white;
  }
}


@media (min-width: 1200px) {
  .ticket__traveller-name {
    font-size: 24px;
    line-height: 1.2;
  }
}

.ticket__sidebar-animation-btn {
  border-top: 1px solid var(--primary-blue);
  border-bottom: 1px solid var(--primary-blue);
  display: flex;
  padding: var(--section-spacing);
  font-weight: var(--fw-bold);

  .ticket__icon {
    margin-right: 8px;
  }

  &:hover {
    cursor: pointer;
  }

  &::before {
    font-size: 24px;
    margin-right: 8px;
    color: var(--btn-bg);
  }

  @media (min-width: 768px) {
    border: 0;
    align-self: center;
  }

  @media (min-width: 768px) and (max-width: 1199.98px) {
    border-left: 1px solid var(--primary-blue);
    border-right: 1px solid var(--primary-blue);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: 1200px) {
    align-self: start;
    margin-top: auto;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 24px;
      background-color: var(--primary-blue);
      height: 1px;
      width: 94%;
    }
  }
}

.ticket__sidebar-animation-text::before {
  content: attr(data-play);
}

.ticket__checkbox--hidden,
.ticket__direction-radio-btn {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

@media (min-width: 768px) {
  .ticket__sidebar-checkbox {
    &:checked {
      ~.ticket__sidebar {
        display: none;
      }

      ~.ticket__content .ticket__sidebar-btn::before {
        content: attr(data-show);
      }
    }

    &:focus-visible~.ticket__content .ticket__sidebar-btn {
      outline: 2px solid var(--primary-blue);
    }
  }
}


.ticket__sidebar-btn {
  display: none;

  &::before {
    content: attr(data-hide);
  }

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    background-color: var(--btn-bg);
    color: #FFF1F1;
    height: 36px;
    padding: 0 16px;
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
}



.ticket__direction-rtl-label,
.ticket__direction-ltr-label {
  display: block;

  &:hover {
    cursor: pointer;
  }
}

.ticket__direction-ltr-label {
  color: purple;
  margin-bottom: 12px;
}


.ticket__direction-radio-btn--ltr {
  &:checked+.ticket {
    direction: ltr;

    .ticket__direction-rtl-label {
      color: black;
    }

    .ticket__direction-ltr-label {
      color: purple;
    }
  }

  &:focus~.ticket .ticket__direction-ltr-label {
    outline: 2px solid var(--primary-blue);
  }
}


.ticket__direction-radio-btn--rtl {
  &:checked+.ticket {
    direction: rtl;

    .ticket__direction-ltr-label {
      color: black;
    }

    .ticket__direction-rtl-label {
      color: purple;
    }

    .ticket__sidebar-animation-btn::after {
      left: auto;
      right: 24px;
    }

    .ticket__sidebar {
      background-position-x: right;
    }

    .ticket__train {
      animation-name: moveLtr1, moveLtr;
      animation-iteration-count: 1, infinite;
      animation-duration: 1.5s, 3s;
      animation-delay: 0s, 1.5s;
    }
  }

  &:focus+.ticket .ticket__direction-rtl-label {
    outline: 2px solid var(--primary-blue);
  }
}